<h2>rails-simple-search</h2>
<%= form_for @search, :url => "/users/index" do |f| %>
  <%= f.label "First Name" %>
  <%= f.text_field 'first_name' %>
  <br/>
  <%= f.label "Last Name" %>
  <%= f.text_field 'last_name' %>
  <br/>
  <%= f.label "Address1" %>
  <%= f.text_field 'address.address1' %>
  <br/>
  <%= f.label "City" %>
  <%= f.text_field 'address.city' %>
  <br/>
  <%= f.label "Post title or body" %>
  <%= f.text_field 'posts.title_or_posts.body' %>
  <br/>
  <%= f.label "Post body" %>
  <%= f.text_field 'posts.body' %>
  <br/>
  <%= f.label "Comment" %>
  <%= f.text_field 'comments.body' %>
  <br/>
  <%= f.submit "search" %>
<% end %>

<hr/>

<p id="notice"><%= notice %></p>
<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>String</th>
      <th>Last name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.address_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<br>
<br>
<%= will_paginate @users %>
